* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

li {
    list-style-type: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.top_content {
    width: 100%;
    height: 40px;
    background-color: #4f4f4f;
}

.top_text_content {
    width: 1200px;
    margin: 0 auto;
}

.top_text_content i {
    width: 23px;
    height: 23px;
    display: block;
    float: right;
    margin-top: 7px;
    margin-left: 25px;
    margin-right: 5px;
    background-size: cover;
}

.top_text_content span {
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    display: block;
    float: right;
}

.wb_icon {
    background: url("./../../static/img/aui-icon-weibo.png");
}

.wx_icon {
    background: url("./../../static/img/weixin.png");
}

.edit {
    background: url("./../../static/img/edit-o.png");
}

.phone_icon {
    background: url("./../../static/img/phone-r-o.png");
}

/*header*/
.header_top {
    height: 80px;
    width: 1200px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    background-color: #fff;
}

.co_logo {
    display: block;
    float: left;
    width: 174px;
    height: 42px;
    margin: 19px 66px 0 0;
    background-color: #4f4f4f;
}

.nav_menu {
    float: left;
    display: flex;
    width: 720px;
    z-index: 10;
}

.nav_menu li {
    float: left;
    flex: 1;
    line-height: 80px;
    text-align: center;
}

.nav_menu li:hover {
    color: red;
    cursor: pointer;
}

.search_input {
    width: 222px;
    height: 32px;
    display: block;
    float: left;
    margin: 24px 0 0 17px;
    box-sizing: border-box;
}

.nav_drop {
    border-top: 1px solid #eeeeee;
    width: 100%;
    left: 0;
    position: absolute;
    /*display: none;*/
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 0;
    transition: top 200ms;
}

.nav_drop_content {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.nav_drop li {
    display: inline-block;
    font-size: 14px;
    margin: 0 26px;
    padding: 20px 0 30px;
}

.nav_drop li:hover {
    color: red;
    cursor: pointer;
}

/*Main*/

.banner {
    background-color: #bad8f2;
    height: 160px;
}

.banner_content {
    background: url("./../../static/img/v2pic.jpg") top center no-repeat #bad8f2;
    height: 160px;
}

.box_center {
    margin: 0 auto;
}

.title_content {
    color: #959595;
    font-size: 14px;
    line-height: 28px;
    padding: 24px 0 15px 0;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 15px;
}

.sub_title {
    color: #535353;
    font-size: 25px;
    line-height: 28px;
    padding-left: 12px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container {
    overflow: hidden;
    max-width: 1200px;
    min-width: 980px;
}

.col2in1 {
    width: 50%;
}

.paragraph {
    font-size: 16px;
    line-height: 28px;
    margin: 10px 0;
}

.top_right_img {
    width: 80%;
}

.tx_center {
    text-align: center;
}
