* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

li {
    list-style-type: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.top_content {
    width: 100%;
    height: 40px;
    background-color: #4f4f4f;
}

.top_text_content {
    width: 1200px;
    margin: 0 auto;
}

.top_text_content i {
    width: 23px;
    height: 23px;
    display: block;
    float: right;
    margin-top: 7px;
    margin-left: 25px;
    margin-right: 5px;
    background-size: cover;
}

.top_text_content span {
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    display: block;
    float: right;
}

.wb_icon {
    background: url("./../../static/img/aui-icon-weibo.png");
}

.wx_icon {
    background: url("./../../static/img/weixin.png");
}

.edit {
    background: url("./../../static/img/edit-o.png");
}

.phone_icon {
    background: url("./../../static/img/phone-r-o.png");
}

/*header*/
.header_top {
    height: 80px;
    width: 1200px;
    margin: 0 auto;
}

.co_logo {
    display: block;
    float: left;
    width: 174px;
    height: 42px;
    margin: 19px 66px 0 0;
    background-color: #4f4f4f;
}

.nav_menu {
    float: left;
    display: flex;
    width: 720px;
}

.nav_menu li {
    float: left;
    flex: 1;
    line-height: 80px;
    text-align: center;
}

.nav_menu li:hover {
    color: red;
    cursor: pointer;
}

.search_input {
    width: 222px;
    height: 32px;
    display: block;
    float: left;
    margin: 24px 0 0 17px;
    box-sizing: border-box;
}

.nav_drop {
    border-top: 1px solid #eeeeee;
    height: 30px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
}


/*Main*/

.banner {
    background-color: #bad8f2;
    height: 160px;
}
